@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
}
.inscription, .win-div{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #ecf0f1;
    letter-spacing: 2px;
}
.inscription span{
    color: #c0392b;
}
.main-content{
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 70vh;
    flex-wrap: wrap;
    background-color: #ecf0f1;

}

th{
border: 1px solid black;
height: 120px;
width: 120px;

}

th:hover{
background-color: #c0392b;
border: 3px solid #c0392b;
transition: all 0.5s ease-out;
}
.tic-tac-toe-div th{
    font-size: 70px;
    cursor: pointer;

}

.settings-div{
    height: 360px;
    position: relative;
    border: 1px solid black;
    width: 300px;
    padding: 20px;
}
.settings-div h2{
    text-align: center;
    letter-spacing: 3px;
    font-size: 30px;
}
.game-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-style: none;
    height: 40px;
    font-size: 20px;
    letter-spacing: 3px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
.game-btn:hover{
    background-color: black;
    color: #bdc3c7;
    transition: all 0.5s ease-out;
}
.choice{
    margin-top: 30px;
}
.choice p{
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #c0392b;
}
.choice label{
    font-size: 20px;
    letter-spacing: 3px;
}
.help-div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.help-div p{
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
}
.help-div h1{
    display: flex;
    color: #c0392b;
    font-size: 100px;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 870px){
.main-content{
    display: block;
}
.settings-div, .help-div, .tic-tac-toe-div{
    margin: auto;
    padding-top: 20px;
}
