@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
}
.main-content{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #ecf0f1;

}

th{
border: 1px solid black;
height: 120px;
width: 120px;
}

th:hover{
background-color: #bdc3c7;
transition: all 0.5s ease-out;

}
.settings-div{
    height: 360px;
    position: relative;
    border: 1px solid black;
    width: 300px;
    padding: 20px;
}
.game-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-style: none;
    height: 30px;
    font-size: 20px;
    color: #bdc3c7;
}
.choice{
    margin-top: 50px;
}